<p><img src="https://avatars3.githubusercontent.com/u/847819?v=3&s=460" alt="[Foto]" width="100" /></p>
<address>
<author>Ignacio Arces Garcia</author><br>
Guadalajara, México
</address>
<p>
  <time datetime="1986-10-18 03:00">18/10/1986</time>
</p>
<p>
  Sígueme: <a href="https://twitter.com/arcesino" target="_blank">@arcesino</a>
</p>
